<!DOCTYPE html>
<html>

  <head>
  	<title>大城小事</title>
  	<meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}"/>
  </head>

  <body>
  	<h1>我与广州的故事</h1>
  	<p>大大的城市里留下了我的那些小事...</p>
    <!--此处的div是为了容纳JavaScript的组件，通过getElementById('map')来匹配-->
    <div id="map"></div>

    <div id="recordform">
		<h2>有趣的事不妨记录下来</h2>
		<form action="/submitrecord" method="POST">
			<!--这里后续打算做成城市选择，需要改name和id，还要保存中文到数据库-->
			<label for="category">城市</label>
			<select name="category" id="category">
				<option value="广州">广州</option>
				<option value="深圳">深圳</option>
			</select>
			<label for="date">日期</label>
				<input name="date" id="date" type="date">
			<label for="latitude">Latitude</label>
				<input name="latitude" id="latitude" type="text">
			<label for="longitude">Longitude</label>
				<input name="longitude" id="longitude" type="text">
			<label for="description">描述下呗</label>
				<textarea name="description" id="description" placeholder="今天我..."></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>

    <script type="text/javascript">
		var map; //把变量map放在函数外部，用作全局变量
		var marker;
		function initMap() {
			//把地图中心定在广州市并放大适当倍数
			var mapOptions = {center: {lat: 23.117055306224895, lng: 113.2759952545166}, zoom: 13}
			map = new google.maps.Map(document.getElementById('map'), mapOptions);
			//添加一个对鼠标单击的监听事件，构建匿名函数参数是该事件，随后触发函数placeMarker
			//函数placeMarker的参数是点击事件的经纬度
			google.maps.event.addListener(map, 'click', function(event){placeMarker(event.latLng);});
			placeRecords({{records | safe}}); //应用启动后最后调用placeRecords函数把所有保存的记录显示在地图上
		}

		function placeRecords(records) {
			for (i=0; i<records.length; i++) {
				record = new google.maps.Marker( {
				position: new google.maps.LatLng(records[i].latitude, records[i].longitude),
				map: map,title: records[i].date + "\n" + records[i].category + "\n" + records[i].description});
			}
		}

		function placeMarker(location) {
			//如果标记已经存在，那么不创建新的标记，而是把已经存在的标记的位置移到新的位置
			if (marker){
				marker.setPosition(location);
			}
			//如果没有标记存在，则在点击处创建新的标记
			else {
				marker = new google.maps.Marker({position: location, map: map});
			}
			//把鼠标点击处的坐标传递给经纬度ElementId，表单的经纬度自动填充
			document.getElementById('latitude').value = location.lat();
			document.getElementById('longitude').value = location.lng();
		}
    </script>

    <!-- script标记中包含的URL是一个JavaScript文件的位置，该文件用于加载 Google Maps API 所需的所有符号和定义。此 script 标记为必填项-->
    <!-- Web 安全性相当重要，尽可能使用 HTTPS。使用上文提供的 <script> 标记通过 HTTPS 加载 Google Maps JavaScript API-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjsoSHWM0pzxvZzlWZ9XuO2pUoDKs3oCU&callback=initMap"></script>
    <!--async 属性允许浏览器在 Maps API 加载的同时渲染网站的其余内容。当 API 就绪时，它将调用使用 callback 参数指定的函数。-->

  </body>

</html>

